@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Icons");

/*Section: Variable*/

:root {
    --bg-color: #fafafa;
    --primary-bg-color: black;
    --primary-bg-color-invert: white;
    --primary-color: white;
    --primary-color-invert: black;
    --button-border: 2px solid black;
    --button-border-radius: 10px;
    --shadow-1dp: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.20);
    --shadow-2dp: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.20);
    --shadow-3dp: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.20);
    --shadow-4dp: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.20);
    --app-bar-height: 10vh;
    --hover-shadow-color: #ddd;
    --click-shadow-color: #aaa;
}


/*Section: Default Configuration*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

html,
body,
main {
    width: 100%;
    background-color: var(--bg-color);
    min-height: 100%;
}


/*Section: App Bar*/

.app-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--app-bar-height);
    display: inline-flex;
    background-color: var(--primary-bg-color);
    color: white;
    box-shadow: var(--shadow-2dp);
    overflow-x: hidden;
}

.app-bar-title {
    font-size: x-large;
    margin: auto 2em;
}

.app-bar-nav-button {
    display: inline-block;
    visibility: visible;
    font-size: 2em;
    background-color: transparent;
    border: 0;
    height: 100%;
    color: var(--primary-color);
    width: 2em;
    cursor: pointer;
}


/*Section: Main*/

main {
    margin-top: var(--app-bar-height);
}

.flex-main {
    display: flex;
}


/*Section: Nav Drawer*/

.nav-drawer {
    visibility: hidden;
    position: fixed;
    left: -25vw;
    width: 25vw;
    height: 100%;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-out;
    overflow: hidden;
    padding: 2em;
    background-color: white;
}

.nav-drawer.open {
    visibility: visible;
    box-shadow: var(--shadow-2dp);
    transform: translate(25vw, 0);
}

.drawer-profile {
    display: block;
    width: 100%;
}

.drawer-profile img {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 150px;
}

.drawer-profile p {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    margin-top: 8px;
}

.nav-drawer ul {
    margin-top: 8px;
    padding: 0;
    display: block;
    list-style: none;
    height: 100%;
}

.nav-drawer ul li {
    width: 100%;
    margin: 1em 0;
}

.nav-item {
    color: var(--primary-color-invert);
    width: 100%;
    display: inline-block;
    text-decoration: none;
    border-radius: 90px;
    font-weight: bold;
    padding: 1em 1em 1em 2em;
    margin: 0;
}

.nav-item:hover {
    background-color: var(--hover-shadow-color);
}

.nav-item:active {
    background-color: var(--click-shadow-color);
}

.nav-item.active {
    background-color: var(--primary-bg-color);
    color: var(--primary-color);
}


/* Section: Nav Drawer Responsive */

@media screen and (max-width: 1024px) {
    .nav-drawer {
        left: -50vw;
        width: 50vw;
    }
    .nav-drawer.open{
        transform: translate(50vw, 0);
    }
}

@media screen and (max-width: 768px) {
    .nav-drawer {
        left: -75vw;
        width: 75vw;
    }
    .nav-drawer.open {
        transform: translate(75vw, 0);
    }
    .drawer-profile img {
        max-width: 100px;
    }
}


/*Section: Card*/

.card {
    border-radius: 20px;
    box-shadow: var(--shadow-1dp);
    background-color: white;
    padding: 2em;
    display: flex;
    overflow-x: hidden;
}


/*Section: Button*/

.button-primary {
    background-color: var(--primary-bg-color);
    color: var(--primary-color);
    font-size: large;
    font-weight: bold;
    padding: 0.5em 1em;
    border-radius: var(--button-border-radius);
    border: var(--button-border);
    cursor: pointer;
}

.button-primary:active {
    background-color: var(--primary-bg-color-invert);
    color: var(--primary-color-invert);
}


/*Section: form*/

.form {
    width: 100%;
}

.form-input-group {
    margin-bottom: 1em;
}

.form-label {
    display: block;
    width: 100%;
    font-weight: bold;
}

.form-input {
    display: block;
    width: 100%;
    min-height: 3em;
    margin-top: 0.5em;
    padding: 0.25em;
    border-radius: 5px;
    border: 1px solid #aaaaaa;
}

.form-button-group {
    display: inline-flex;
    width: 100%;
}

.form-button-group .button-primary {
    margin-left: auto;
    margin-right: 0;
    text-decoration: none;
}


/*Section: footer*/

footer {
    height: var(--app-bar-height);
    width: 100%;
    margin-bottom: 0;
    margin-top: auto;
    border-top: 1px solid #cccccc;
    background-color: var(--bg-color);
    display: flex;
}

footer p {
    margin: auto;
    text-align: center;
}


/*Section: Texts*/

.section-title {
    font-weight: bold;
    margin-bottom: 1em;
    font-size: xx-large;
}


/*Section: line break*/

.horizontal-line {
    height: 2px;
    width: 100%;
    background-color: var(--primary-bg-color);
}

/*Section: Main Content*/
#main-content {
    width: 100%;
    height: 100%;
    padding: 2em;
}

/*Section: Post card*/
.posts-container {
    display: grid;
    grid-gap: 20px;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 1em;
}

@media screen and (max-width: 1024px){
    .posts-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 767px){
    .posts-container {
        grid-template-columns: 1fr;
    }
}

.post-card {
    margin: 1em 0;
    display: block;
}
.post-card-link {
    text-decoration: none;
    color: var(--primary-color-invert);
}
.post-card .post-title {
    font-size: x-large;
    margin: 0.5em 0;
}
.post-card .post-creator {
    margin: 0.5em 0;
}
.post-card .post-topics {
    margin: 0.5em 0;
    display: inline-flex;
}
.post-topics .topics-item {
    background-color: var(--primary-bg-color);
    border-radius: 90px;
    padding: 0.25em 0.5em;
    margin-right: 0.5em;
    color: var(--primary-color);
}

/*Section: Discussion and Replies*/

#discussion-header {
    display: inline-block;
    margin-bottom: 1em;
}

.discussion-title {
    font-size: xx-large;
}
.discussion-creator {
    margin-top: 0.5em;
}

.reply-profile {
    width: 20%;
    display: block;
}

.reply-profile-picture {
    display: block;
    width: 100%;
    max-width: 150px;
    margin: auto;
}

.reply-profile-name {
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 1em;
    font-weight: bold;
    font-size: x-large;
}

.reply-content {
    width: 100%;
    padding-left: 5%;
    display: flex;
    align-items: center;
}

.reply-content p {
    font-size: x-large;
    font-weight: 600;
}

.discussion-replies {
    margin-bottom: 1em;
}

@media screen and (max-width: 767px){
    .discussion-replies {
        display: block;
    }

    .reply-profile {
        display: inline-flex;
        width: 100%;
        align-items: center;
    }
    .reply-profile-picture {
        max-width: 2em;
    }
    .reply-profile-name {
        text-align: left;
        margin-top: 0;
        margin-left: 1em;
    }
    .reply-content {
        width: 100%;
        padding-left: 0;
        margin-top: 1em;
    }
}

/*Section: Reply input box*/

#discussion-reply .card {
    display: block;
}

#discussion-reply-title {
    font-weight: bold;
    font-size: x-large;
}

#discussion-reply-textarea {
    width: 100%;
    height: 12rem;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    overflow-y: scroll;
    font-size: large;
    padding: 1em;
    margin-top: 1rem;
    margin-bottom: 1rem;
    resize: none;
}

#discussion-reply-submit {
    width: 100%;
    border-radius: 90px;
}

/*Section: float-button*/
.float-button {
    position: fixed;
    bottom: 5vw;
    right: 5vw;
    border-radius: 90px;
    box-shadow: var(--shadow-4dp);
    text-decoration: none;
}

/*Section: new post*/
.new-post-textarea {
    width: 100%;
    height: 12rem;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    overflow-y: scroll;
    font-size: large;
    padding: 1em;
    margin-bottom: 1rem;
    resize: none;
}

/*Section: Profile page*/
.profile {
    display: inline-block;
    width: 100%;
    padding: 4em 8em;
}
.profile-picture {
    display: flex;
    width: 100%;
}
.profile-picture img {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
}
.profile-detail {
    margin-top: 2em;
    text-align: center;
}
.profile-name {
    font-size: x-large;
    font-weight: bold;
}
.profile-office {
    font-size: x-large;
}

@media screen and (max-width: 767px) {
    .profile {
        padding: 2em;
    }
}
